In [1]:
from textblob import TextBlob

In [2]:
frase = "Python Ã© otimo para MNachine Learning"
tb = TextBlob(frase)
tb_en  = tb.translate(to='en')

In [3]:
tb_en.sentiment.polarity

0.8

In [4]:
import pandas as pd

In [6]:
df = pd.read_csv('casas.csv')

In [7]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [8]:
X = df.drop('preco', axis=1)
y = df['preco']

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42)

In [11]:
X_train.head()

      tamanho   ano  garagem
135     156.0  1970        2
1452    100.0  2005        2
762     144.0  2009        2
932     177.0  2006        3
435     154.0  1996        2

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
modelo = LinearRegression()
modelo.fit(X_train, y_train)

LinearRegression()

In [14]:
modelo.predict([[120,2001,2]])

array([191436.53503831])

In [15]:
import pickle

In [16]:
pickle.dump(modelo, open('modelo.sav','wb'))